* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #282c34;
  color: aliceblue;
}

body {
  /* background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/asanoha-400px.png"); */
  background: #282c34;
}
/* --- MODAL --- */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: relative;
  margin: 10% auto 0 auto;
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  width: 80%;
  font-size: 18px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
/* --- MODAL END --- */

/* --- BOOTSRAP TABLE TWEAKS --- */
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #dbedff;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  font-weight: bold;
}

.table-hover tbody tr td,
.table-hover tbody tr th, thead {
  background-color: rgb(207, 237, 246);

  color: #282c34;
}

.table {
  font-family: monospace;
}
/* --- TABLE TWEAKS END --- */

/* --- BUTTON TWEAKS --- */
#controls .btn {
  background-color: white;
}
#controls .btn:focus,
#modal .btn:focus {
  outline: 0;
}

#controls .btn:hover,
#modal .btn:hover {
  border-color: #5e9ed6;
  background-color: white;
}

#controls #clear:hover,
#controls #deleteLast:hover {
  border-color: red;
}
/* --- BUTTON TWEAKS END --- */

/* --- --- */

#info {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 20px;
}
body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h1 span {
  margin-right: 10px;
}

#itemCount {
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#controls {
  display: inline;
}

#controls #dataField {
  margin-bottom: 20px;
  height: 48px;
}

#submit {
  display: none;
}
#download {
}
#clear,
#deleteLast {
  float: right;
}
#table-wrapper {
  /* position: relative; */
  /* background-color: white; */

  border-top: 1px solid black;
}
tbody .glyphicon {
  padding: 0 8px 0 8px;
  font-size: 28px;
}

/* --- TABLET SIZED DEVICES AND LARGER --- */
@media (min-width: 768px) {
  #info {
    font-size: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
  }

  h1 {
    text-align: center;
    font-size: 40px;
  }

  #itemCount {
    font-size: 32px;
  }

  #controls #dataField {
    display: inline;
    width: 33%;
    height: 40px;
  }

  #controls #submit,
  #controls #download,
  #controls #clear,
  #controls #deleteLast {
    height: 40px;
  }

  thead {
    font-size: 20px;
  }

  tbody {
    font-size: 16px;
  }
}

#particles-js {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* background-image: url(https://i.postimg.cc/6p0W5Dkp/Gradient-BG.png); */
    background: #282c34;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}